@import "variable.scss";

.color-green-primary {
  color: $color-green-primary;
}

.color-green-secondary {
  color: $color-green-secondary;
}

.color-green-tertiary {
  color: $color-green-tertiary;
}