@import 'variable.scss';

.color-green-primary {
  color: $color-green-primary;
}

.color-green-secondary {
  color: $color-green-secondary;
}

.color-green-tertiary {
  color: $color-green-tertiary;
}

.color-primary {
  color: $primary;
}

.color-blue-grey {
  color: $color-blue-grey;
}

.text-body2 {
  font-size: $body2;
}

.text-error {
  font-size: 0.75rem;
  color: $danger;
}

.cursor-pointer {
  cursor: pointer;
}
.table-default {
  .dx-datagrid-headers {
    color: black !important;
    font-weight: 600 !important;
    background-color: #e9ecef !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    border-bottom: none !important;
  }
}

.table-project {
  .dx-row.dx-header-row {
    color: black !important;
    font-weight: 600 !important;
    background-color: #e9ecef !important;
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;
  }
}
