@import "variable.scss";

.color-green-primary {
  color: $color-green-primary;
}

.color-green-secondary {
  color: $color-green-secondary;
}

.color-green-tertiary {
  color: $color-green-tertiary;
}

.color-primary {
  color: $primary;
}

.text-body2 {
  font-size: $body2;
}

.text-error {
  font-size: 0.75rem;
  color: $danger;
}