$width-leftmenu: 270px;
$color-background: #ECEFF1;

$primary: #05A027;
$success: #55924a;
$danger: #CB0000;
$warning: #E5E505;
$dark: #1E1E1E;
$grey: #F3F3F3;

$white: #fff;
$black: #16191C;

$color-green-primary: #05A027;
$color-green-secondary: #55924a;
$color-green-tertiary: #2f6126;


$color-blue-grey: #607D8B;
$color-blue-grey-lighten-5: #ECEFF1;
$color-blue-grey-lighten-4: #CFD8DC;
$color-blue-grey-lighten-3: #B0BEC5;
$color-blue-grey-lighten-2: #90A4AE;
$color-blue-grey-lighten-1: #78909C;
$color-blue-grey-darken-1: #546E7A;
$color-blue-grey-darken-2: #455A64;
$color-blue-grey-darken-3: #37474F;
$color-blue-grey-darken-4: #263238;


/*========================================================
        TYPOGRAPHY
=========================================================*/
$height-topbar: 64px;
$width-leftmenu: 270px;
$h1: 6rem;
$h2: 3.75rem;
$h3: 3rem;
$h4: 2.125rem;
$h5: 1.5rem;
$h6: 1.1rem;
$subtitle1: 1rem;
$subtitle2: 0.875rem;
$body1: 1rem;
$body2: 0.875rem;
$button-font-size: 0.875rem;
$caption: 0.75rem;
$overline: 0.75rem;