$width-leftmenu: 270px;
$color-background: #ECEFF1;

$color-green-primary: #05A027;
$color-green-secondary: #55924a;
$color-green-tertiary: #2f6126;


$color-blue-grey: #607D8B;
$color-blue-grey-lighten-5: #ECEFF1;
$color-blue-grey-lighten-4: #CFD8DC;
$color-blue-grey-lighten-3: #B0BEC5;
$color-blue-grey-lighten-2: #90A4AE;
$color-blue-grey-lighten-1: #78909C;
$color-blue-grey-darken-1: #546E7A;
$color-blue-grey-darken-2: #455A64;
$color-blue-grey-darken-3: #37474F;
$color-blue-grey-darken-4: #263238;
