@import '../variable.scss';

.btn-primary {
  background-color: $primary;
  border-color: $success;
}

.btn-primary:hover {
  background-color: $primary;
  border-color: $success;
}

.btn-primary:not(:disabled):not(.disabled) {
  background-color: $primary;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $primary;
  border-color: $success;
}
